body{
    margin: 10px;
    font-color:#333;
    font-size:1.2em;
}
#header ul{
    list-style:none;
}
#header ul li {
    display:inline;
    margin-right:25px
}
#add_person input[type="text"]{
    float:right;
    margin-right:20px;
}

#show_person tr td{
    min-width:150px;
}
