{% extends 'base.html' %}

{% block body %}
{% for person in persons %}
    {% for name, value in person.get_fields %}
        {% if value %}
            {{ name }} => {{ value }} <br/>
        {% endif %}
    {% endfor %}
{% endfor %}

{% block form %} 

    {% if form  %}
        <hr/>
        {{ form.media }} 
        <form action="/add_person/" id="add_person" 
                        name="add_person" method="post">
        {{ form.as_p }}
        <input type="submit" value="Save person" />
        {% csrf_token %}
        </form>
    {% endif %}

{% endblock %}



{% endblock %}
